.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
    font-family:'Open-sans',Arial,sans-serif;
}
.accordionItemHeading1{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:#2980b9;
    color:#fff;
    width:100%;
    box-sizing: border-box;
}
.accordionItemHeading2{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:#2980b9;
    color:#fff;
    width:100%;
    box-sizing: border-box;
}
.accordionItemHeading3{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:#2980b9;
    color:#fff;
    width:100%;
    box-sizing: border-box;
}
 .accordionItemContent1{
 display: none; 
}
 .accordionItemContent2{
    display: none; 
   }
    .accordionItemContent3{
    display: none; 
   }

